/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html{
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: #030303; 
}

/* Styling Navbar Panel */
.navbar{
    max-width: 97.7%;
    display: flex;
    border: 2px solid grey;
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}

.navbar a{
    margin-right: 30px;
    padding: 10px;
    font-size: 1.4rem;
    color: grey;
    text-decoration: none;
    margin-top: 5px;
}

.navbar a:active{
    color: white;
}

.navbar a:hover{
    color: white;
}

/* Projects nav */
#projectTable {
    height: 100%;
    /* width: 350px; */
    width: 22.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0c40;
    overflow-x: hidden;
    padding-top: 2px;
}

#projectTableItem{
    width: 85%;
}

#projectTableItem td{
    padding: 6px 8px 6px 16px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 25px;
    color: #818181;
    display: block;
    background-color: #050624;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    min-width: 100%;
}


#console{
    height: 430px;
    width: 100%;
    background-color: #eeeaf765;
    overflow-x: hidden;
    padding-top: 2px;
}

#consoleTable td {
    color: black;
  
}

.sidenav a:hover {
    color: #f1f1f1;
}

.projects {
    overflow-y: auto;
    max-height: 43%;
    padding: 10px;
}

/* Pin a log pannel */
.pin {
    height: 50%;
    width: 20.6%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #52514e;
    padding-top: 20px;
    border-style: solid;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.pinInput{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Styling buttons */
.btn {
    background-color: #1d0a40;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: 80%;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

button:hover {
    opacity: 0.8;
}

/* Styling log pannel */
.main {
    width: 74%;
    align-items: center;
    margin-left: 25%;
}

.log{
    display: flex;
}

.mediaUpload{
    color: white;
    padding: 17px 15%;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Gemunu Libre', sans-serif;
}

.image{
    height: 40px;
    margin: 0px 10px;
}

/* Pinned log cards */
.pinnedLogs{
    margin-top: 10px;
    border: 2px solid white;
    height: 100px;
    background-color: rgb(99, 99, 99);
    padding: 10px;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

.cards{
    background-color: #1d0a40;
    color: white;
    min-width: 200px;
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid white;
    overflow-x: scroll;
    overflow-x: hidden;
    /* word-wrap: inherit;     */
}

.cards>p{
    font-size: 1.3rem;
    font-weight: 400;
    word-wrap: break-word;    
}

.cards>img{
    height: 14px;
    display: flex;
    margin-left: auto;
}


/* Reponsive design */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Modal*/
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
   
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 3% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
 
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
    /* overflow-x: scroll; */
    font-size: 1.5rem !important;
  }
 
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .hide{
      visibility: hidden;
  }

  /* Styling Cards Scrollbar */

.cards::-webkit-scrollbar {
    max-width: 0.30rem;
    max-height: 0.45rem;
    border-radius: 15px;
    background-color: #0000;
    scroll-behavior: smooth;
} 
  
.cards::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
}

/* Not needed but incase y'all want to change the colors or so */
.cards::-webkit-scrollbar-track {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: rgba(66, 23, 146, 0.8);
} 

.cards::-webkit-scrollbar-corner {
    visibility: hidden;
}

.cards::-webkit-scrollbar-thumb:hover {
    background: white; 
}
